@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$font-family-base:'Open Sans', sans-serif;



$primary: #0066ff;
$secondary: #ff1100;
$success: #298b5d;
$info: #8f4444;
$warning: #eeff59;
$danger: #ff8c00;
$light: #f8f9fa;
$dark: #212529;
$purple: #ff00d4;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "purple": $purple,
    );

@import '../node_modules/bootstrap/scss/bootstrap.scss';





